<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @note.topic %>
</p>

<p>
  <strong>Video:</strong>
  <%= @note.video %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
