<%= form_with(model: daily_vid) do |form| %>
  <% if daily_vid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_vid.errors.count, "error") %> prohibited this daily_vid from being saved:</h2>

      <ul>
        <% daily_vid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :frame_url %>
    <%= form.text_field :frame_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
