<p id="notice"><%= notice %></p>

<h1>Idols</h1>


  <tbody>
    <% @idols.each do |idol| %>
    <div class="heroContainer">
      <div class="topBox">
        <div class="nameBox"><%= idol.name %></div>
        <div class="desc"><%= idol.description %></div>
      </div>

      <div class="midBox">
        <div class="vidBox"><%= idol.video %></div>
        <div class="picBox"><%= idol.photo %></div>
      </div>
    </div>
      
       

    <% end %>

<br>

<%= link_to 'New Idol', new_idol_path %>
